th {
    padding : 10px;
}
td {
    font-size : 120%;
}
a {
  color: #00B7FF;
}
.inAction{
    font-size:300%;
}
.out,.oversDone{
    background-color : rgba(256,0,0,0.3);
}
.inStrike,.notOut{
    background-color : rgba(0,256,0,0.3);
}
.player{
    cursor:pointer;
}
.oversLeft:hover{
        background-color : rgba(0,256,0,0.3);
}
.notPlayed:hover{
        background-color : rgba(0,0,256,0.3);

}
